.btn-wrapp {
  margin: 0 auto;
  position: absolute;
  margin: 20px 20px;
  top: 0;
  text-align: center;
  z-index: 2;
}

.btn-wrapp button {
  margin: 10px;
  background-color: rgb(242, 242, 242);
  border: 0;
}
.btn-wrapp button:hover {
  background-color: rgb(208, 208, 208);
}

.card-wrapp {
  display: block;
  margin: 100px;
  box-sizing: border-box;
  position: relative;
}
